.header {
  background-color: var(--white);
  text-align: center;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  font-size: 22px;
  margin: 20px;
  font-family: "NFL Packers";
}

.header a:hover {
  text-decoration: underline;
}
