.header {
  background-color: var(--white);
  text-align: center;
  height: 52px;
  display: flex;
  align-items: center;
}

.header .nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: inherit;
}

.header a {
  font-size: 22px;
  margin: 20px;
  font-weight: 600;
}

.header a:not(:first-child):hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px){
  .header {
    display: none;
  }
}
