.preHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preHeaderWrapper .item {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 20px;
}

.preHeaderWrapper .item p {
  line-height: 18px;
  margin-bottom: -6px;
}

.item.search img {
  width: 20px !important;
  height: 20px !important;
  margin-right: -30px;
  margin-left: 10px;
  z-index: 2;
}

.item.search input {
  padding: 4px 0px 4px 40px;
  border-radius: 5px;
  width: 90%;
}

.atendimento {
  cursor: pointer;
  position: relative;
}

.atendimento:hover .contacts {
  transform: translateY(30%);
  opacity: 1;
}

.item .contacts {
  background: var(--black);
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 10;
  padding: 10px 20px 20px 20px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.item .contacts .contact {
  margin: 10px auto;
}

.item .contacts p {
  color: var(--white);
}

.item .contacts > p {
  text-align: center;
}

.item .contacts a {
  color: var(--white);
  font-weight: 600;
}

.item .contacts a:first-child:hover {
  text-decoration: underline;
}

.preHeaderWrapper .item:first-child {
  max-width: 120px;
  cursor: pointer;
}

.preHeaderWrapper .item:first-child:hover img {
  transform: rotate(360deg);
  transition: all 0.4s ease;
}

.preHeaderWrapper .item:last-child:after {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--red);
  display: block;
}

.preHeaderWrapper .item:before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--red);
  display: block;
}

.preHeaderWrapper .item img {
  width: 48px;
  height: 48px;
  z-index: 20;
}

.preHeaderWrapper .item .column img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.preHeaderWrapper .item .column {
  text-align: center;
  color: var(--white);
  font-size: 14px;
  padding: 12px;
  z-index: 20;
}

.counter {
  color: var(--black);
  font-weight: 900;
  position: absolute;
  left: 80px;
  top: 9px;
}

@media screen and (max-width: 767px){
  .preHeader {
    display: none;
  }
}
