.footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: var(--white);
  position: relative;
}

.footerWrapper {
  display: flex;
  justify-content: flex-start;
}

.item {
  margin: 50px 8rem 50px 0px;
  color: var(--white);
}

.item h5 {
  margin-bottom: 32px;
  font-weight: 600;
}

.item ul li {
  list-style: none;
  font-size: 16px;
  margin: 4px 0px;
}

.item ul li a:hover {
  text-decoration: underline;
}
