@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: "NFL Packers";
  src: url('../public/fonts/NFL\ Packers.ttf');
}

@font-face {
  font-family: "Korolev Military Stencil"; 
  src: url("../public/fonts/KorolevMilitaryStencil/7aa6f23718712abc71a57b079ebadb52.eot"); 
  src: url("../public/fonts/KorolevMilitaryStencil/7aa6f23718712abc71a57b079ebadb52.eot?#iefix") format("embedded-opentype"), url("../public/fonts/KorolevMilitaryStencil/7aa6f23718712abc71a57b079ebadb52.woff2") format("woff2"), 
  url("../public/fonts/KorolevMilitaryStencil/7aa6f23718712abc71a57b079ebadb52.woff") format("woff"), 
  url("../public/fonts/KorolevMilitaryStencil/7aa6f23718712abc71a57b079ebadb52.ttf") format("truetype"); 
}

:root {
  --black: #020202;
  --white: #FDF9F9;
  --red: #D04A38;
  --border-radius: 5px;
  --font-family: "Roboto", Arial, sans-serif;
  --title-size: 34px;
  --selection-color: #91F5AD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
}
